.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height .25s ease;
    max-width: 375px;
    width: 100%;
}

.more {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.moreText {
    animation: float 2s ease-in-out infinite;
}

input[type=text] {
    font-family: inherit;
    font-size: 24px;
    margin-bottom: 12px;
    border: none;
    border-bottom: dotted;
    color: inherit;
    border-bottom-width: thin;
    box-sizing: border-box;
    padding: 8px;
    background-color: transparent;
    transition: all 100ms ease-in-out;
    display: inline-block;
    width: 100%;
}

input[type=text]:focus {
    border-bottom-width: 1px;
    border-bottom: solid;
    color: inherit;
}

input[type=text]::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.4;
}

input[type=text]::-moz-placeholder {
    color: #000000;
    opacity: 0.4;
}

input[type=text]:-ms-input-placeholder {
    color: #000000;
    opacity: 0.4;
}

input[type=text]:-moz-placeholder {
    color: #000000;
    opacity: 0.4;
}

@keyframes float {
	0% {
	    transform: translatey(0px);
    }
    
	50% {
		transform: translatey(-5px);
    }
    
	100% {
		transform: translatey(0px);
	}
}