.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: height .25s ease;
}

.more {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input[type=text] {
    font-family: inherit;
    width: 350px;
    font-size: 24px;
    min-width: 350px;
    margin-bottom: 12px;
    border: none;
    border-bottom: dotted;
    color: inherit;
    /*color: white;
    border-color: white;
    mix-blend-mode: difference;*/
    border-bottom-width: thin;
    box-sizing: border-box;
    padding: 8px;
    background-color: transparent;
    transition: all 100ms ease-in-out;
}

input[type=text]:focus {
    border-bottom-width: 1px;
    border-bottom: solid;
    color: inherit;
    /*border-color: white;
    mix-blend-mode: difference;*/
}

input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000000;
    opacity: 0.4;
}

input[type=text]::-moz-placeholder { /* Firefox 19+ */
    color: #000000;
    opacity: 0.4;
}

input[type=text]:-ms-input-placeholder { /* IE 10+ */
    color: #000000;
    opacity: 0.4;
}

input[type=text]:-moz-placeholder { /* Firefox 18- */
    color: #000000;
    opacity: 0.4;
}