.footerContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    padding-left: 24px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.footerCopy {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.title {
    padding-left: 12px;
    font-size: 24px;
}