.app-background {
  min-height: 100%;
  width: 100%;
  font-family: inherit;
  background-image: url('./images/graphy.png');
}

.app-container {
  height: 100%;
  width: 100%;
}

.app-content {
  /*height is full screen - (header height + footer height)*/
  min-height: calc(100vh - (56px + 48px));
  background-color: inherit;
  margin: 0 auto;
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  font-family: inherit;
  padding: 24px;
}

.app-message {
  margin-top: 30px;
  opacity: 0;
  font-weight: thin;
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
  user-select: none;
}
