@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat');
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace !important;
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}